In [1]:
#conventional if-else
num = 6
if num % 2 == 0:
    print("even")
else:
    print("odd")

even

In [4]:
num = 4  
print("even") if num % 2 == 0 else print("odd")

even

In [5]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("even")
else:
    print("odd")

Enter a number:  31

odd

In [8]:
x = 10
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [9]:
age = 10
category = "Adult" if age >= 18 else "Minor"
print(category)

Minor

In [17]:
#coventional nested if-else
num = 0
result = 'Positive' if num > 0 else "Negitive" if num < 0 else "zero"
print(result)

zero

In [18]:
#List comprehension
L = [1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [21]:
L = [1,9,2,10,56,89]
[2-x for x in L]

[1, -7, 0, -8, -54, -87]

In [23]:
[x for x in L if x%2 != 0]

[1, 9, 89]

In [24]:
[x for x in L if x%2 == 0]

[2, 10, 56]

In [25]:
d1 = {'ram':[70,71,98,100],'john':[56,78,45,78]}
d1

{'ram': [70, 71, 98, 100], 'john': [56, 78, 45, 78]}

In [26]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'ram': 84.75, 'john': 64.25}

In [28]:
a = int(input("Enter the first number: "))  
b = int(input("Enter the second number: ")) 
 def add(a, b):
    return a + b
result = a+b
print("The sum is:", result)

Enter the first number:  3
Enter the second number:  5

The sum is: 8

In [29]:
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [30]:
L = [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [37]:
def greet(name):
    
    print(f"Good Morning! {name}")

name = input("Enter your name: ")
greet(name)

Enter your name:  Dharma Manasa Reddy

Good Morning! Dharma Manasa Reddy