In [2]:
00000000000L 0= [100,50,193,443,256,53,1000]2
L1 = []
L2 = []
for num in L:
    if num % 2==0:
        L1.append(num)
    else:
        L2.append(num)
print("L: ",L)
print("L1: ",L1)
print("L2: ",L2)

L:  [100, 50, 193, 443, 256, 53, 1000]
L1:  [100, 50, 256, 1000]
L2:  [193, 443, 53]

In [6]:
L = list(map(int, input("Enter numbers separated by spaces: ").split()))
L1 = []
L2 = []
for num in L:
    if num % 2 == 0:
        L1.append(num)
    else:
        L2.append(num)
print("L: ", L)
print("L1: ", L1)
print("L2: ", L2)

Enter numbers separated by spaces:  100 50 193 443 256 53 1000

L:  [100, 50, 193, 443, 256, 53, 1000]
L1:  [100, 50, 256, 1000]
L2:  [193, 443, 53]

In [11]:
L = ["A", 100, "B", 205, True, 6+8j,67.5]

strings = []
integers = []
booleans = []
complex_numbers = []
float_num = []

for item in L:
    if type(item) == str:
        strings.append(item)
    elif type(item) == int:
        integers.append(item)
    elif type(item) == bool:
        booleans.append(item)
    elif type(item) == complex:
        complex_numbers.append(item)
    elif type(item) == float:
        float_num.append(item)

print("Strings: ", strings)
print("Integers: ", integers)
print("Booleans: ", booleans)
print("Complex Numbers: ", complex_numbers)
print("Float Numbers: ", float_num)

Strings:  ['A', 'B']
Integers:  [100, 205]
Booleans:  [True]
Complex Numbers:  [(6+8j)]
Float Numbers:  [67.5]

In [1]:
my_list = [1,"Hello",3.14,[4,5]]
my_list

[1, 'Hello', 3.14, [4, 5]]

In [3]:
#indexing and slicing of list
my_list = [10,20,30,40,50]
print(my_list[1])
print(my_list[1:3])
print(my_list[1:])
print(my_list[:3])
print(my_list[:])

20
[20, 30]
[20, 30, 40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]

In [4]:
#lits are iterable(loops)
my_list = [10,20,30,40]

for i in my_list:
    print(3 * i)

30
60
90
120

In [5]:
my_list = [10,20,30,40]
for x in range(len(my_list)):
    print(3 * my_list[x])

30
60
90
120

In [8]:
my_list = [10,20,30,40,50]
for x in range(5):
    print(3 * my_list[x])

30
60
90
120
150

In [10]:
#lists can cotain duplicate values are allowed
duplicates_list=[1,2,3,3,2,2]
print(duplicates_list)

[1, 2, 3, 3, 2, 2]

In [12]:
nested_list = [[1,2],[2,3]]
nested_list

[[1, 2], [2, 3]]

In [11]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
orders = [['apple',10],['banana',5],['cherry',7],['banana',5]]
orders

[['apple', 10], ['banana', 5], ['cherry', 7], ['banana', 5]]

In [3]:
#add a new order with append
new_order1 = ["date",12]
orders.append(new_order1)
orders

[['apple', 10], ['banana', 5], ['cherry', 7], ['banana', 5], ['date', 12]]

In [11]:
new_orders = ["grape",12]
orders.append(new_order1)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['dargon', 10],
 ['banana', 5],
 ['date', 12],
 [['grape', 9], ['apple', 20]],
 ['grape', 9],
 ['apple', 20],
 ['grape', 9],
 ['apple', 20],
 ['date', 12],
 'date',
 12,
 'date',
 12,
 ['date', 12]]

In [9]:
new_order2 = ["dargon",10]
orders.insert(3,new_order2)
orders

[['apple', 10],
 ['banana', 5],
 ['cherry', 7],
 ['dargon', 10],
 ['banana', 5],
 ['date', 12],
 [['grape', 9], ['apple', 20]],
 ['grape', 9],
 ['apple', 20],
 ['grape', 9],
 ['apple', 20],
 ['date', 12],
 'date',
 12]

In [12]:
dupilcate_order = ["banana",5]
orders.pop(4)

['banana', 5]

In [4]:
orders  = [['apple',10],['banana',5],['dragon',10],['apple',20],['cherry',7]]
orders

[['apple', 10], ['banana', 5], ['dragon', 10], ['apple', 20], ['cherry', 7]]

In [6]:
for each in orders:
    if each[0] == 'banana':
        each[1] = 10
print(orders)

[['apple', 10], ['banana', 10], ['dragon', 10], ['apple', 20], ['cherry', 7]]

In [7]:
orders

[['apple', 10], ['banana', 10], ['dragon', 10], ['apple', 20], ['cherry', 7]]

In [10]:
apple_orders = []
for each in orders:
    if each[0] == 'apple':
        apple_orders.append(each[1])
print(apple_orders)
print(sum(apple_orders))

[10, 20]
30

In [11]:
 new_order1 = ['date',12]
orders.append(new_order1)
orders

[['apple', 10],
 ['banana', 10],
 ['dragon', 10],
 ['apple', 20],
 ['cherry', 7],
 ['date', 12]]

In [12]:
new_orders = [['grape',6],['orange',8]]
orders.append(new_orders)
orders

[['apple', 10],
 ['banana', 10],
 ['dragon', 10],
 ['apple', 20],
 ['cherry', 7],
 ['date', 12],
 [['grape', 6], ['orange', 8]]]

In [13]:
new_orders = [['grape',6],['orange',8]]
orders.extend(new_orders)
orders

[['apple', 10],
 ['banana', 10],
 ['dragon', 10],
 ['apple', 20],
 ['cherry', 7],
 ['date', 12],
 [['grape', 6], ['orange', 8]],
 ['grape', 6],
 ['orange', 8]]

In [15]:
new_order2 = ['kiwi',5]
orders.insert(3,new_order2)
orders

[['apple', 10],
 ['banana', 10],
 ['dragon', 10],
 ['kiwi', 5],
 ['apple', 20],
 ['cherry', 7],
 ['date', 12],
 [['grape', 6], ['orange', 8]],
 ['grape', 6],
 ['orange', 8]]

In [16]:
Tup1 = (3,5,9,10)
Tup1

(3, 5, 9, 10)

In [17]:
Tup2 = 10,20,30,'Hi'
Tup2

(10, 20, 30, 'Hi')

In [19]:
Tup3 = tuple([1,2,5,7])
Tup3

(1, 2, 5, 7)

In [20]:
print(Tup3[2])

5

In [22]:
Tup4 = ([3,4,5],(1,2,3),"Hello",105)
Tup4

([3, 4, 5], (1, 2, 3), 'Hello', 105)

In [23]:
tup4 = ([1,2,3],(4,8,9),"Hello",9.8)
tup4

([1, 2, 3], (4, 8, 9), 'Hello', 9.8)

In [24]:
tup4[0][2] = 10;
tup4

([1, 2, 10], (4, 8, 9), 'Hello', 9.8)

In [25]:
tup4[1][1] = 12;#tuples are immutable(we cannot change)but inside tuple if there is a list we can change it
tup4

TypeError: 'tuple' object does not support item assignment

In [26]:
tup4.index("Hello")
tup4

([1, 2, 10], (4, 8, 9), 'Hello', 9.8)

In [27]:
tup5 = (10,20,1,10,10,30,10)
tup5.count(10)

4